name: build

on: 
  workflow_dispatch:
    inputs:
      revision:
        description: 'svn revision'
        required: true
        default: 'r53879'
jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        # 【修改点1】你原来的脚本写的是 msg1500，我帮你改成了 k2p
        # 如果你想编译其他版本，可以在这里改，例如: [k2p-mt76] 或 [k2p-mini]
        profile: [k2p]
    steps:
      - uses: actions/checkout@v4
      - uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ matrix.profile }}
      - name: Install packages
        run: |
          sudo apt update
          sudo apt install unzip libtool-bin ccache curl cmake gperf gawk flex bison nano xxd \
            fakeroot kmod cpio bc zip git python3-docutils gettext gengetopt gtk-doc-tools \
            autoconf-archive automake autopoint meson texinfo build-essential help2man pkg-config \
            zlib1g-dev libgmp3-dev libmpc-dev libmpfr-dev libncurses5-dev libltdl-dev wget libc-dev-bin
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          check-latest: true
      - name: Install npm packages
        run: sudo npm install -g uglify-js uglifycss
      - name: Extract toolchain
        run: tar zxf toolchain-mipsel_24kc_gcc-13.1.0_musl.tar.gz
      
      - name: Prepare and Fix Curl
        run: |
          echo PROFILE=${{ matrix.profile }} > .config
          echo REVISION=${{ github.event.inputs.revision }} >> .config
          make checkout
          
          # 【修改点2】这里增加了一行命令，自动修复 curl 证书下载失败的问题
          # 它会自动找到 mk-ca-bundle.pl 并开启“允许不安全连接”模式
          find src/router/curl -name "mk-ca-bundle.pl" -exec sed -i 's/my \$opt_k = 0;/my \$opt_k = 1;/g' {} +
          
          make prepare

      - name: Configure
        run: make configure
      - name: Build
        run: make all
      
      # 【修改点3】这里从 v3 升级到了 v4，解决 GitHub Actions 报错
      - uses: actions/upload-artifact@v4
        with:
          name: images
          path: images/*.bin
